<footer class="footer">
 <p style="text-align:left;">
  <!--
 <a style="text-decoration: none;" href="{{ page.url }}/changelog"><i class="fas fa-code-branch zoom"></i>  {{site.version}} </a>
 <span style="float:right;">
    {% include socials.html %}
 </span>
-->
</p>
   <script>
      window.addEventListener('load', (event) => {
        console.debug('[DEBUG] page loaded, checking storage');
        checkStorage();
        
        if (localStorage.theme){
          document.getElementById('whatHappened').innerHTML = localStorage.theme;
        }
        else if (sessionStorage.theme){
          document.getElementById('whatHappened').innerHTML = sessionStorage.theme;
        } else {
          document.getElementById('whatHappened').innerHTML = 'n/a';
        }
      });
  </script>
</footer>


