 <div>
   <h2>
    <p>  
     {{ page.nav_name }}
        {% for node in site.data.nav.pages %}
            <p>
            {% if node.name == node.name %}
               <b>{{node.name}}</b>
            {% else %}
               <a href="{{node.url}}">{{node.name}}</a>
            {% endif %}
            </p>
        {% endfor %}
    </p>
  Most recent TODO: 
  {% for post in site.posts limit:1 %}
     [{{post.name}}]({{ site.url }}{{ site.baseurl }}{{post.url}})

     {{ site.url }}{{ site.baseurl }}{{ post.url }}">{{post.date | date: "%a, %b %d"}} – {{ post.title }}
  {% endfor %}

  </h2>
<div>
