<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="center debug">
    <div>
      {% include controls.html %}
      <p style="font-size: 20px;">
        {% for node in site.data.nav.pages %}
            {% if page.nav_name == node.name %}
               <b>{{node.name}}</b>
            {% else %}
               <a href="{{node.url}}">{{node.name}}</a>
            {% endif %}
&nbsp;/&nbsp;   
        {% endfor %}
      </p>
      <p>
          {% for post in site.posts limit:1 %}
        Most recent todo: <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{post.name}}</a>
  {% endfor %}
      </p>
       <pre class="syntax">
       <code>
░░░░░░░░░░░░░░░░░░░░░░░░░░░INFO/STS░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░██╗░░██╗██████╗░██╗░░██╗░██████╗░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░██║░░██║╚════██╗██║░░██║██╔═████╗░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░███████║░█████╔╝███████║██║██╔██║░░░░░░░░░░░░░AND 5240: GRADUATE EDITION░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░╚════██║██╔═══╝░╚════██║████╔╝██║░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░██║███████╗░░░░░██║╚██████╔╝░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░╚═╝╚══════╝░░░░░╚═╝░╚═════╝░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░  FA2023  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
</code>
</pre>
    <div>
    {{ content }}
  </div>
  {% if site.edit-date %}
    <p style="text-align: right;">
      <small>last edited</small>
    </p>
  {% endif %}
    {% include footer.html %}
</body>
</html>
